* {
    box-sizing: border-box;
    margin: 0;
    font-family: Montserrat;
}

.main {
    display: grid;
    grid-template-columns: 1.5fr 8fr;
    min-height: 100vh;
}

.left-panel {
    background-color: #1992D4;
    color: rgb(240, 248, 255);
}

.logo-name {
    font-weight: 600;
    font-size: 2rem;
    padding-left: 8%;
    padding-top: 4%;
    margin-bottom: 10%;
}

.categories {
    margin-bottom: 50%;
    font-weight: 600;
}

.categories ul,
.settings ul {
    display: grid;
    gap: 10%;
    font-size: 1.4rem;
    font-weight: 600;
}
.categories ul,
.settings ul {
    list-style: none;
}


.right-panel {
    background-color: rgb(192, 208, 221);
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.header {
    display: grid;
    grid-column: 1.5 / 8;
    background-color: #FFF;
    grid-area: 1fr / 1fr 1fr;
}

.header-upper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1%;
}


.search {
    background-color: #dbdbdb;
    border-radius: 25px;
    margin: 7px 20% 7px 5%;
}

.notifications-and-profile {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 40px;
    align-items: center;
}

.notifications {
    background-color: coral;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.logo {
    background-color: darksalmon;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.name {
    margin-right: 50px;
    font-weight: 700;
    font-size: 1.3rem;
}

.header-lower {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-bottom: 1%;
}

.greeting-profile {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    margin-left: 5%;
    gap: 2%;
}
.greeting-hi {
    font-weight: 600;
}
.greeting-name {
    font-weight: 700;
    font-size: 1.3rem;
}


.logo-greeting {
    width: 50px;
    height: 50px;
    background-color: lightpink;
    border-radius: 50%;
}

.actions {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 70px;
    margin-right: 10%;
}

.new, .upload, .share {
    background-color: #1992D4;
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    color: #FFF;
    font-weight: 600;
    font-size: 1.4rem;
}

.content {
    background-color: rgb(231, 231, 231);
    grid-template-columns: 3fr 1fr;
    display: grid;
    align-items: start;
    padding: 2%;
}

.projects {
    display: grid;
    background-color: rgb(231, 231, 231);
    height: 100vh;
    grid-template-rows: auto 1fr;
    padding-right: 3%;
}
.projects-header {
    display: grid;
    margin-bottom: 4%;
    height: 10px;
}
.project-name-description h4 {
    margin-bottom: 1%;
}
.projects-template {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start;
    gap: 2%;
}
.project {
    display: grid;
    background-color: #FFF;
    height: 200px;
    border-radius: 10px;
    padding: 7% 4%;
    border-left: 8px solid orange;
}

.project-options {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-items: end;
    gap: 2%;
}
.project-options button {
    border: none;
    background-color: white;
}
.project-starred img,
.project-eyed img,
.project-commited img {
    width: 23px;
    height: auto;
}

.announcements {
    margin-bottom: 10%;
}
.announcements-trending {
    grid-auto-flow: column;
    padding-right: 8%;
}
.announcements-header {
    margin-bottom: 7%;
}
.announcements-content {
    background-color: white;
    height: 300px;
    border-radius: 10px;
    padding: 10% 7%;
}
.announcement {
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 1rem 0;
}
.announcement p {
    font-size: 0.8rem;
}

.trending-header {
    margin-bottom: 4%;
}
.trending-content {
    background-color: white;
    height: 280px;
    border-radius: 10px;
    padding: 7% 7%;
}
.trending-user {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    margin-bottom: 7%;
}
.trending-content-user-logo {
    width: 40px;
    height: 40px;
    background-color: rgb(141, 224, 130);
    border-radius: 50%;
}